html, body{
        width:100%;
        overflow-x:hidden;
        height: 100%;
        }
body{
    min-height: 100vh;
    position: relative;
}
h4 {
    color: black;
}
.top-page-section {
    min-height: 100px;
}
section {
    min-height: 80vh;
}
.sidenav-logo {
    width: 300px;
}
footer {
    width: 100%;
    height: 100px;
    bottom: 0;
    padding: 10px;
}
footer .social-media-icon {
    font-size: 25px;
}
.copyright {
    padding: 0;
}
.logo-color {
    background-color: #007d70;
}
.logo {
    height: 100px; 
}
nav .nav-wrapper {
    height: 100px;
}
nav ul a {
    padding: 17px 15px;
}
/*background image welcome page*/
.welcome-bg-image {
    background: url("../docs/images/construction-5.jpg") no-repeat bottom right; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
}
.hr-welcome-page {
    background-color: #007d70;
    height: 5px;
    width: 60%;
}
/*registration form*/
.reg-bg-image {
    background: url("../docs/images/reg-bg.jpg") no-repeat bottom right; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
input {
    color: white;
}
.main-form {
    margin-bottom: 0;
    padding-bottom: 40px;
}
.form-row {
    margin-bottom: 0;
}
.select-wrapper input.select-dropdown {
    color: white;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: white;
}
.select-dropdown li.disabled, .select-dropdown li.disabled>span, .select-dropdown li.optgroup {
    color: wheat;
}
.dropdown-content {
    background-color: teal;
}
.input-field label {
     color: #fff;
   }
.input-field textarea {
     color: #fff;
   }
.card {
    padding-top: 10px;
    padding-bottom: 20px;
}
/*login page*/
.login-bg-image {
    background: url("../docs/images/login-bg.jpg") no-repeat bottom right; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*homepage*/
.fa-exclamation-triangle:before {
    font-size: 25px;
}
.popular-src-links {
    margin: 10px;
}
.popular-src-header {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}
.hr-home {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 80%;
    height: 2px;
    background-color: #007d70;
}
.main-popular-src-header {
    margin-bottom: 60px;
}
.popular-src-header, .popular-src-links, .main-popular-src-header {
    padding-left: 50px;
}
