<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build Connected</title>
    <link rel="icon" href="static/docs/images/favicon.png" sizes="16x16" type="image">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
</head>
<body>
    <header>
        <!-- navbar -->
        <nav>
            <div class="nav-wrapper logo-color">
                <a href="{{ url_for('welcome_page')}}" class="brand-logo"><img class="logo" src="{{url_for('static', filename='docs/images/main-logo.png') }}" alt="Build connected logo"></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Log In</a></li>
                    <li><a href="{{ url_for('register')}}">Register</a></li>
                    <li><a href="#">Info</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Add Job</a></li>
                    <li><a href="#">My Jobs</a></li>
                    <li><a href="#">My Profile</a></li>
                    <li><a href="#">Log Out</a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav center" id="mobile-demo">
            <li><img class="sidenav-logo" src="{{url_for('static', filename='docs/images/main-logo.png') }}" alt="Build connected logo"></a></li>
            <li><a href="#">Log In</a></li>
            <li><a href="{{ url_for('register')}}">Register</a></li>
            <li><a href="#">Info</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Add Job</a></li>
            <li><a href="#">My Jobs</a></li>
            <li><a href="#">My Profile</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
    </header>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flash-message deep-orange lighten-2 center-align">{{message}}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    {% block content %}

    {% endblock %}
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/3e532e3652.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
    <footer class="logo-color white-text">
        <div class="row">
            <div class="col s6 center social-media-icon">
                <a href="https://twitter.com/?lang=en" target="_blank"><i class="fab fa-twitter white-text"></i></a>
            </div>
            <div class="col s6 center social-media-icon">
                <a href="https://ie.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in white-text"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center copyright">
                <i class="far fa-copyright"></i>
                <span>Ignazio Sotgiu <span id="year"></span></span>
            </div>
        </div>

    </footer>
</body>
</html>