<h6 class="popular-src-header">Search Jobs<h6>
            <ul class="collapsible">
                <li class="popular-src-links">
                    <div class="collapsible-header">By Employer</div>
                    <div class="collapsible-body">
                        <div>
                            <input id="src_job_by_company"  name="src_job_by_company" type="text" class="validate" required>
                            <label for="src_job_by_company"></label>
                        </div>
                        <div>
                            <a class="btn btn-small teal" href="">search</a>
                        </div>
                    </div>
                </li>
                <li class="popular-src-links">
                    <div class="collapsible-header">By Category</div>
                    <div class="collapsible-body">
                        <form action="{{ url_for('search_users') }}" method="POST">
                            <select  id="src_job_by_category"  name="src_job_by_category"  class="validate" required>
                                <option value="" disabled selected>Select category</option>
                                    {% for category in jobs_categories %}
                                        <option value="{{ category }}">
                                            {{- category.capitalize() -}}
                                        </option>
                                    {% endfor %}
                            </select>
                            <label for="src_job_by_category"></label>
                        </form>
                        <div>
                            <a class="btn btn-small teal" href="">search</a>
                        </div>
                    </div>
                </li>
                <li class="popular-src-links">
                    <div class="collapsible-header">By County</div>
                    <div class="collapsible-body">
                        <div>
                            <select id="src_job_by_county" name="src_job_by_county" type="text" class="validate" required>
                                <option value="" disabled selected>Select a County</option>
                                {% for county in users_counties %}
                                <option value="{{ county }}">{{ county.capitalize() }}</option>
                                {% endfor %}
                            </select>
                            <label for="src_job_by_county"></label>
                        </div>
                        <div>
                            <a class="btn btn-small teal" href="">search</a>
                        </div>
                    </div>
                </li>
            </ul>