{% extends "base.html" %}
{% block content %}
<section class="home-bg-image">
    <div class="row">
        <h4 class="col s10 offset-s1 m8 offset-m2 text-black">Welcome {{username}},</h4>
    </div>
    <div class="row">
        <h5 class="col s12 center-align text-black">Latest jobs added:</h5>
    </div>
    <div class="row">
        <div class="col s8 offset-s2">
            <table class="striped centered">
                <thead>
                <tr>
                    <th>Job Title</th>
                    <th>Employer</th>
                    <th>Date Entered</th>
                </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                        <tr>
                            <td>{{ job.job_title.capitalize() }}</td>
                            <td>{{ job.employer.capitalize() }}</td>
                            <td>{{ job.date_job_created }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>


{% endblock %}