{% extends "base.html" %}
{% block content %}
<section class="home-bg-image">
    <div class="row">
        <a href="{{ url_for('profile', username=session['user']) }}">
            <h4 class="col s10 offset-s1 m8 offset-m2">
                Welcome {{ username }},
            </h4>
        </a>
    </div>
    <div class="row">
        <div class="col s8">
            <div class="row">
                <h5 class="col s12 center-align text-black">Latest jobs added:</h5>
            </div>
            <div class="row">
                <div class="col s12 m10 offset-m1">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Job Title</th>
                                <th>Employer</th>
                                <th>Date Entered</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for job in jobs %}
                                <tr>
                                    <td>{{ job.job_title.capitalize() }}</td>
                                    <td>{{ job.employer.capitalize() }}</td>
                                    <td>{{ job.date_job_created }}</td>
                                    <td><a href="{{ url_for('info', job_id=job._id) }}" class="btn btn-small blue lighten-1">Info</a></td>
                                    {% if job.is_urgent.lower() == "urgent" %}
                                        <td class="fas fa-exclamation-triangle red-text tooltipped" data-position="right" data-tooltip="Urgent!"></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col s4">
            <h5 class="main-popular-src-header">Popular Searches:</h5>
            <hr class="hr-home">
            <h6 class="popular-src-header">Search Sub Contractor<h6>
            <ul class="collapsible">
                <li class="popular-src-links">
                    <div class="collapsible-header">By Name</div>
                    <div class="collapsible-body">
                        <form action="{{ url_for('search_users') }}" method="POST">
                            <select  id="src_company_by_name"  name="src_company_by_name"  class="validate" required>
                                {% for company in company_names %}
                                    <option value="{{ company.lower() }}">
                                        {{- company.title() -}}
                                    </option>
                                {% endfor %}
                            </select>
                            <label for="src_company_by_name"></label>
                            <div>
                                <button type="submit" class="btn btn-small teal">Search</button>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="popular-src-links">
                    <div class="collapsible-header">By Category</div>
                    <div class="collapsible-body">
                        <form action="{{ url_for('search_users') }}" method="POST">
                            <select  id="src_company_by_category"  name="src_company_by_category"  class="validate" required>
                                {% for category in construction_categories %}
                                    <option value="{{ category }}">
                                        {{- category.capitalize() -}}
                                    </option>
                                {% endfor %}
                            </select>
                            <label for="src_company_by_category"></label>
                            <div>
                                <button type="submit" class="btn btn-small teal">Search</button>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="popular-src-links">
                    <div class="collapsible-header">By County</div>
                    <div class="collapsible-body">
                        <form action="{{ url_for('search_users') }}" method="POST">
                            <select id="src_company_by_county" name="src_company_by_county" type="text" class="validate" required>
                            {% for county in COUNTIES %}
                                <option value="{{ county }}">{{ county.capitalize() }}</option>
                            {% endfor %}
                            </select>
                            <label for="src_company_by_county"></label>
                            <div>
                                <button type="submit" class="btn btn-small teal">Search</button>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
            <hr class="hr-home">
            <h6 class="popular-src-header">Search Jobs<h6>
            <ul class="collapsible">
                <li class="popular-src-links">
                    <div class="collapsible-header">By Employer</div>
                    <div class="collapsible-body">
                        <div>
                            <input id="src_job_by_company"  name="src_job_by_company" type="text" class="validate" required>
                            <label for="src_job_by_company"></label>
                        </div>
                        <div>
                            <a class="btn btn-small teal" href="">search</a>
                        </div>
                    </div>
                </li>
                <li class="popular-src-links">
                    <div class="collapsible-header">By Category</div>
                    <div class="collapsible-body">
                        <div>
                            <select  id="src_job_by_category"  name="src_job_by_category"  class="validate" required>
                                <option value="" disabled selected>Select category</option>
                                    {% for category in construction_categories %}
                                        <option value="{{ category }}">
                                            {{- category.capitalize() -}}
                                        </option>
                                    {% endfor %}
                            </select>
                            <label for="src_job_by_category"></label>
                        </div>
                        <div>
                            <a class="btn btn-small teal" href="">search</a>
                        </div>
                    </div>
                </li>
                <li class="popular-src-links">
                    <div class="collapsible-header">By County</div>
                    <div class="collapsible-body">
                        <div>
                            <select id="src_job_by_county" name="src_job_by_county" type="text" class="validate" required>
                                <option value="" disabled selected>Select a County</option>
                                {% for county in COUNTIES %}
                                <option value="{{ county }}">{{ county.capitalize() }}</option>
                                {% endfor %}
                            </select>
                            <label for="src_job_by_county"></label>
                        </div>
                        <div>
                            <a class="btn btn-small teal" href="">search</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>


{% endblock %}