{% extends "base.html" %}
{% block content %}
<section class="-bg-image">
    <div class="row">
        <h4 class="col s10 offset-s1 m8 offset-m2 text-black">{{username}}, </h4>
    </div>
    <div class="row">
        <div class="col s8 offset-s2">
            <div>
                <h4 class="center">{{ job.job_title.title() }}</h4>
            </div>
            <div class="card-panel teal white-text">
                <a href="{{ url_for('my_jobs', username=session['user']) }}" class="fas fa-times close-icon white-text right"></a>
                <div class="row">
                    <span class="col s2 offset-s1">Employer:</span>
                    <span class="col s5 offset-s1"><a class="white-text" href="#">{{ job.employer.title() }}</a></span>
                </div>
                <div class="row">
                    <span class="col s2 offset-s1">Location:</span>
                    <span class="col s5 offset-s1">{{ job.county.title() }}</span>
                </div><div class="row">
                    <span class="col s2 offset-s1">Looking For:</span>
                    <span class="col s5 offset-s1">
                        {% for job in job.category %}
                            {{ job.capitalize()}}<br>
                        {% endfor %}
                    </span>
                </div>
                <div class="row">
                    <span class="col s2 offset-s1">Phone:</span>
                    <span class="col s7 offset-s1">{{ job.contact_phone_number }}</span>
                </div>
                <div class="row">
                    <span class="col s2 offset-s1">Email:</span>
                    <span class="col s5 offset-s1"><a class="white-text" href="#">{{ job.contact_email }}</a></span>
                </div>
                <div class="row">
                    <span class="col s2 offset-s1">Starting Date:</span>
                    <span class="col s5 offset-s1">{{ job.starting_date }}</span>
                </div>
                <div class="row">
                    <span class="col s2 offset-s1">Urgent:</span>
                    {% if job.is_urgent == "urgent" %}
                        <span class="col s5 offset-s1 red">{{ job.is_urgent }}</span>
                    {% elif job.is_urgent == "not_urgent"%}
                        <span class="col s5 offset-s1 green">{{ job.is_urgent }}</span>
                    {% endif %}

                </div>
                <div class="row">
                    <span class="col s2 offset-s1">Description:</span>
                    <span class="col s7 offset-s1">{{ job.description.capitalize() }}</span>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <a href="#" class="btn btn-large green">Apply</a>
                    </div>
                </div>
            </div>
    </div>
  </div>
</section>
{% endblock %}