{% extends "base.html" %}
{% block content %}
<section class="-bg-image">
    <div class="row">
        <h4 class="col s10 offset-s1 m8 offset-m2 text-black">{{username}}, </h4>
    </div>
    <div class="row">
        <h5 class="col s12 center-align text-black">List of jobs you advertise:</h5>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <table class="striped centered">
                <thead>
                <tr>
                    <th>Job Title</th>
                    <th>Category</th>
                    <th>Date Entered</th>
                </tr>
                </thead>
                <tbody>
                    {% for job in my_jobs_list %}
                        <tr>
                            <td>{{ job.job_title.capitalize() }}</td>
                            <td>{{ job.category.capitalize() }}</td>
                            <td>{{ job.date_job_created }}</td>
                            <td><a href="{{ url_for('edit_job', job_id=job._id) }}" class="btn btn-small teal">Edit</a></td>
                            <td><a href="{{ url_for('delete_job', job_id=job._id) }}" class="btn btn-small red">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>


{% endblock %}