{% extends "base.html" %}

{% block content %}
<section class="welcome-bg-image">
    <div class="row">
        <h1 class="col l6 offset-l4 m6 offset-m4 s10 offset-s1">Build<br>Connected</h1>
    </div>
    <hr class="hr-welcome-page">
    <div class="row">
        <div class="col s12 center white-text">
            <h4>Connect The Future</h4>
            <h5>Join Now the construction<br>online community</h5>
        </div>
    </div>
    <div class="row ">
        <a href="{{ url_for('register')}}" class="col m2 offset-m5  s4 offset-s4 btn btn-large center">Join Now</a>

    </div>
    </div>
</section>
{% endblock %}